{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Zeitungsüberschriften
{% endblock %}

{% block content %}

<ul style="list-style-type:disc">
Wir möchten Ihre Meinung zu den folgenden Zeitungsartikeln wissen.
  Bitte nehmen Sie sich kurz Zeit, die folgenden Zeitungsüberschriften zu lesen. <p></p>
<li> <b>Im Osten kaum Neues: Kein einziger Dax-Konzern, geringere Wirtschaftskraft,
  mehr Arbeitslose: Ostdeutschland hängt Westdeutschland laut Regierungsbericht
  in vielen Teilen immer noch hinterher. </li> <br>
<li> Die Ost-West-Lücke schließt sich nicht
Die wirtschaftlichen Unterschiede zwischen Ost- und Westdeutschland gleichen sich
immer langsamer an. Ein Regierungsbericht warnt vor den gesellschaftlichen Folgen. </li> <br>
<li> Ostdeutsche sind ärmer dran
Im Durchschnitt hat jeder Haushalt in Ostdeutschland 2.292 Euro pro Monat zur Verfügung,
im Westen sind es 3.056 Euro. Seit 2003 sind die Unterschiede stärker geworden.</li> <br>
<li> Wohlstand zwischen Ost und West immer noch ungleich verteilt.  </li>
<p><br></p>
{% next_button %}

{% endblock %}
